{% extends "base.html" %}
{% block content %}
<h1>20 Best Startup Pitches of all Categories: Famous in Tech (For 2020)</h1>
<div class="container-fluid" style="font-family: 'Cormorant Upright', serif;">
  <div class="row">
    <div class="col-md-4">
      <div class="card card-cascade wider">
        <div class="view view-cascade gradient-card-header peach-gradient">
          <h2 class="card-header-title mb-3 text-monospace text-center">Product Pitches</h2>
        </div>
        <div class="card-body card-body-cascade text-center">
          <p class="card-text text-monospace">You should be able totell the story in the time it takes you to ride an elevator with a prospect.
            Salespeople are past the point of giving prospects an hour-long presentation to sell products or services.</p>
          <a href="" class="orange-text d-flex flex-row-reverse p-2">
            <h5 class="btn blue-gradient">Read more<i class="fas fa-angle-double-right ml-2"></i>
            </h5>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-cascade wider">
        <div class="view view-cascade gradient-card-header peach-gradient">
          <h2 class="card-header-title mb-3 text-monospace text-center">Interview Pitches</h2>
        </div>
        <div class="card-body text-center">
          <p class="card-text text-monospace">A personal pitch is basically a succinct introduction to yourself and your background. Having an outline pitch ready is a great confidence-booster for graduate interviews,
            networking events and careers fairs.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-cascade wider">
        <div class="view view-cascade gradient-card-header peach-gradient">
          <h2 class="card-header-title mb-3 text-monospace text-center">Promotion Pitches</h2>
        </div>
        <div class="card-body text-center">
          <p class="card-text text-monospace">A personal pitch is basically a succinct introduction to yourself and your background. Having an outline pitch ready is a great confidence-booster for graduate interviews,
            networking events and careers fairs.</p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card card-cascade wider">
        <div class="view view-cascade gradient-card-header peach-gradient">
          <h2 class="card-header-title mb-3 text-monospace text-center">Pickupline</h2>
        </div>
        <div class="card-body card-body-cascade text-center">
          <p class="card-text text-monospace">
            Programming today is a race between software engineers striving to build bigger and better idiot-proof programs, and the Universe trying to produce bigger and better idiots. So far, the Universe is
            winning.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% for post in posts.items %}
<article class="media content-section">
  <img class="rounded-circle article-img"
    src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
      <small class="text-muted">{{ post.date.strftime('%Y-%m-%d') }}</small>
    </div>
    <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
    <p class="article-content">{{ post.content }}</p>
    {% if post.author == current_user %}
    <div>
      <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('comment') }}">Add A comment</a>
      <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">LIKE
        <span>0</span></button>
      <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">DISLIKE
        <span>0</span></button>
    </div>
    {% endif %}
  </div>
</article>
{% endfor %}
{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
{% if posts.page == page_num %}
<a class="btn btn-info mb-4" href="{{ url_for('promotion', page=page_num) }}">{{ page_num }}</a>
{% else %}
<a class="btn btn-outline-info mb-4" href="{{ url_for('promotion', page=page_num) }}">{{ page_num }}</a>
{% endif %}
{% else %}
...
{% endif %}
{% endfor %}
{% endblock content %}