{% extends "base.html" %}
{% block content %}
<h1>20 Best Startup Pitches of all Categories: Famous in Tech (For 2020)</h1>
<div class="container-fluid" style="font-family: 'Cormorant Upright', serif;">
  <div class="row">
    <div class="col-md-4">
      <div class="card card-cascade wider">
        <div class="view view-cascade gradient-card-header peach-gradient">
          <h2 class="card-header-title mb-3 text-monospace text-center">Product Pitches</h2>
        </div>
        <div class="card-body card-body-cascade text-center">
          <p class="card-text text-monospace">You should be able totell the story in the time it takes you to ride an elevator with a prospect.
            Salespeople are past the point of giving prospects an hour-long presentation to sell products or services.</p>
          <a href="" class="orange-text d-flex flex-row-reverse p-2">
            <h5 class="btn blue-gradient">Read more<i class="fas fa-angle-double-right ml-2"></i>
            </h5>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-cascade wider">
        <div class="view view-cascade gradient-card-header peach-gradient">
          <h2 class="card-header-title mb-3 text-monospace text-center">Interview Pitches</h2>
        </div>
        <div class="card-body text-center">
          <p class="card-text text-monospace">A personal pitch is basically a succinct introduction to yourself and your background. Having an outline pitch ready is a great confidence-booster for graduate interviews,
            networking events and careers fairs.</p>
          <a href="" class="orange-text d-flex flex-row-reverse p-2">
            <h5 class="btn blue-gradient">Read more<i class="fas fa-angle-double-right ml-2"></i></h5>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-cascade wider">
        <div class="view view-cascade gradient-card-header peach-gradient">
          <h2 class="card-header-title mb-3 text-monospace text-center">Promotion Pitches</h2>
        </div>
        <div class="card-body text-center">
          <p class="card-text text-monospace">A personal pitch is basically a succinct introduction to yourself and your background. Having an outline pitch ready is a great confidence-booster for graduate interviews,
            networking events and careers fairs.</p>
          <a href="" class="orange-text d-flex flex-row-reverse p-2">
            <h5 class="btn blue-gradient">Read more<i class="fas fa-angle-double-right ml-2"></i></h5>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card card-cascade wider">
        <div class="view view-cascade gradient-card-header peach-gradient">
          <h2 class="card-header-title mb-3 text-monospace text-center">Pickupline</h2>
        </div>
        <div class="card-body card-body-cascade text-center">
          <p class="card-text text-monospace">
            Programming today is a race between software engineers striving to build bigger and better idiot-proof programs, and the Universe trying to produce bigger and better idiots. So far, the Universe is
            winning.
          </p>
          <a href="" class="orange-text d-flex flex-row-reverse p-2">
            <h5 class="btn blue-gradient btn-disabled">Pickupline</i></h5></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}